@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-custom .ql-picker-item:before {
  content: attr(data-label);
}

.ql-picker.ql-custom .ql-picker-label::before {
  content: attr(data-label);
}

.ql-custom.ql-picker-item::before {
  content: attr(data-value);
}

.ql-picker.ql-custom {
  width: 200px;
}
